*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:hsl(275, 100%, 97%) ;
    position: relative;
    min-height: 100vh;
}
.bg-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    height: auto;
}
.container{
    position: relative;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    margin: 10px;
}

.heading{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    color: hsl(292, 42%, 14%);
}

.faq-item{
    border-bottom: 1px solid black;
}

.faq-q{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-q>h1{
    font-size: 20px;
    letter-spacing: 2px;
    color: hsl(292, 42%, 14%);
    padding: 10px 0px;
}
.icon{
    transition: transform 0.3s ease;

}
.icon:hover{
    cursor: pointer;
    transform: rotate(45deg);
}
.plus{
    display: block;
}
.minus{
    display: none;
}
.faq-item.active .minus{
display: block;
}
.faq-item.active .plus{
    display: none;
}
.faq-ans {
    color: hsl(292, 16%, 49%);
    padding: 0px 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.3s ease;
}

/* when open */
.faq-item.active .faq-ans {
    max-height: 200px;
    padding: 10px 0px;
}
